/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  box-sizing: border-box;
}

.userItem {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 20%;
}

.containerForItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  max-width: 1100px;
  min-width: 335px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #143646;
}

.userItem {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  max-width: 33%;
  padding: 20px 20px;
  margin: 20px 20px;
  background-color: #e6e6f0;
  border: 1px solid black;
}

.userItem.itemOnPage {
  align-items: flex-start;
}

.listContainer {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #9e4dc3;
}

.paginationButton {
  margin-right: 5px;
}

.userItemLink {
  text-decoration: none;
  color: #24a3ff;
}

.userFormClass {
  background-color: #24a3ff;
  margin: 10px 0;
}

.findedInList {
  color: #e2e2e4;
}

.inputForm {
  margin-left: 76px;
  border-radius: 5px;
}

.paginationEvenButton {
  cursor: pointer;
}
